ALPHA_VANTAGE_API_KEY=OYB8MBQRWKTTFMQ6
CURRENCYFREAKS_API_KEY=your_key_here
FRED_API_KEY=9e47d1ba6115c5277619b696c358c2c1
NEWS_API_KEY=f9bf0a2eccb04c50af4fb14420037df4
GEMINI_API_KEY=AIzaSyB1ksCJrVpKlOBcV6nfQVt9hO4UNBZjWjA
GEMINI_MODEL=gemini-2.0-flash
